<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{44,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>explosion_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1},{60,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{60,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>explosion_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1},{72,82}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{72,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>explosion_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1},{92,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{92,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>explosion_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>explosion_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect3-hd.png</string>
            <key>size</key>
            <string>{475,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a89f5737c3b7a1d4d4546a8ad781ea:23a5fc6a8b9252c2447d3ad04bfcaeaf:8c1f1620b2d5e01314330252ada8e7fb$</string>
            <key>textureFileName</key>
            <string>effect3-hd.png</string>
        </dict>
    </dict>
</plist>
