<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,134},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,57},{86,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>explosion_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1},{120,132}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{120,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>explosion_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1},{146,164}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{146,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>explosion_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1},{184,194}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{184,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>explosion_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>explosion_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect3-ipad.png</string>
            <key>size</key>
            <string>{856,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a89f5737c3b7a1d4d4546a8ad781ea:23a5fc6a8b9252c2447d3ad04bfcaeaf:8c1f1620b2d5e01314330252ada8e7fb$</string>
            <key>textureFileName</key>
            <string>effect3-ipad.png</string>
        </dict>
    </dict>
</plist>
