<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>image_crown/b1.png</key>
		<dict>
			<key>frame</key>
			<string>{{293, 1}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 436}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 290}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1023, 1}, {-144, -141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{144, 141}, {-144, -141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 144}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b3.png</key>
		<dict>
			<key>frame</key>
			<string>{{147, 1}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b4.png</key>
		<dict>
			<key>frame</key>
			<string>{{877, 1}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b6.png</key>
		<dict>
			<key>frame</key>
			<string>{{731, 1}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 582}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b8.png</key>
		<dict>
			<key>frame</key>
			<string>{{585, 1}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
		<key>image_crown/b9.png</key>
		<dict>
			<key>frame</key>
			<string>{{439, 1}, {144, 141}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 141}}</string>
			<key>sourceSize</key>
			<string>{144, 141}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>image_crown.png</string>
	</dict>
</dict>
</plist>
